In [1]:
/The first collumn we make will be the dates collumn

dates: 2018.01.01+1000000?31

In [2]:
count dates

1000000

In [3]:
times: 1000000?24:00:00.0000
times

19:57:43.649 08:15:36.665 00:31:48.900 21:38:21.927 20:36:50.220 22:11:19.731..

In [21]:
qtys:100*1+1000000?100
qtys

7900 9600 3900 3000 8100 3200 4400 6200 3500 700 3800 7500 9600 5400 500 200 ..

In [22]:
idxs:1000000?3
idxs

0 0 2 2 1 1 2 2 0 0 2 1 0 2 1 1 1 1 0 1 0 2 1 2 0 1 0 2 0 1 2 2 0 1 1 1 1 0 0..

In [23]:
symbs:`Schonfeld`JPMorgan`Barclays idxs

In [24]:
symbs

`Schonfeld`Schonfeld`Barclays`Barclays`JPMorgan`JPMorgan`Barclays`Barclays`Sc..

In [79]:
pxs:(1+1000000?0.3)* 430 230 120 idxs

In [80]:
pxs

527.0028 462.1679 155.348 139.85 256.6268 261.3949 142.1859 127.7479 487.3649..

In [81]:
t:([] date:dates;time:times;symb:symbs;qty:qtys;px:pxs)

In [82]:
t

date       time         symb      qty  px
-----------------------------------------------
2018.01.10 19:57:43.649 Schonfeld 7900 527.0028
2018.01.25 08:15:36.665 Schonfeld 9600 462.1679
2018.01.26 00:31:48.900 Barclays  3900 155.348
2018.01.20 21:38:21.927 Barclays  3000 139.85
2018.01.06 20:36:50.220 JPMorgan  8100 256.6268
2018.01.15 22:11:19.731 JPMorgan  3200 261.3949
2018.01.07 15:50:47.837 Barclays  4400 142.1859
2018.01.15 05:25:06.199 Barclays  6200 127.7479
2018.01.02 14:45:57.137 Schonfeld 3500 487.3649
2018.01.26 06:28:04.251 Schonfeld 700  526.8822
2018.01.08 20:47:08.643 Barclays  3800 148.6447
2018.01.05 05:02:14.346 JPMorgan  7500 236.5938
2018.01.09 05:50:43.964 Schonfeld 9600 540.5109
2018.01.04 04:21:49.401 Barclays  5400 151.6111
2018.01.10 19:55:52.363 JPMorgan  500  251.1744
2018.01.05 10:37:25.055 JPMorgan  200  240.6349
2018.01.09 22:24:19.182 JPMorgan  900  241.6722
2018.01.06 00:27:07.770 JPMorgan  1100 279.9315
2018.01.16 19:54:04.239 Schonfeld 700  439.9159
2018.01.04 17:27:16.560 JPMorgan  1600 284.5686
..